Django==5.2.6
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1

django-allauth==65.13.1
django-cors-headers==4.9.0

gunicorn==23.0.0

mysqlclient==2.2.7

pillow==11.3.0
requests==2.32.5
python-dotenv==1.1.1

twilio==9.8.7
openai==2.4.0
cryptography==46.0.3
numpy==2.1.1




